 .u-section-1 {
  background-image: linear-gradient(#478ac9, #e9f2fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 1374px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0.2;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 0px -2px 8px rgba(255,255,255,1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 26px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  width: 131px;
  margin: -13px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 22px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  min-height: 1097px;
  grid-gap: 27px 27px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-image-1 {
  height: 284px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-1 .u-text-5 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-image-2 {
  height: 284px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-1 .u-text-7 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-image-3 {
  height: 284px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-1 .u-text-9 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-image-4 {
  height: 284px;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-1 .u-text-11 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-image-5 {
  height: 284px;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-1 .u-text-13 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-image-6 {
  height: 284px;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px auto 0;
}

.u-section-1 .u-text-15 {
  margin-top: 19px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 869px;
  }

  .u-section-1 .u-image-1 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1498px;
  }

  .u-section-1 .u-image-1 {
    height: 266px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    height: 266px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 266px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    height: 266px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    height: 266px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    height: 266px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1406px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 194px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 194px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 194px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 194px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 194px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-6 {
    height: 194px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 235px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-image-2 {
    height: 235px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-image-3 {
    height: 235px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-image-4 {
    height: 235px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-image-5 {
    height: 235px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-image-6 {
    height: 235px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.625rem;
  }
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #e9f2fa !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #e9f2fa !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before,
.u-section-1 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #e9f2fa !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-4,
.u-section-1 .u-list-item-4:before,
.u-section-1 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #e9f2fa !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-5,
.u-section-1 .u-list-item-5:before,
.u-section-1 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5:hover:before {
  background-color: #e9f2fa !important;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-6,
.u-section-1 .u-list-item-6:before,
.u-section-1 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6:hover:before {
  background-color: #e9f2fa !important;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: linear-gradient(#2cccc4, #e9f2fa);
}

.u-section-2 .u-sheet-1 {
  min-height: 1543px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0.2;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 0px -2px 8px rgba(255,255,255,1);
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 26px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  width: 131px;
  margin: -12px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  min-height: 1250px;
  grid-gap: 27px 27px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 7px;
}

.u-section-2 .u-image-1 {
  height: 313px;
  width: 333px;
  margin: 0 18px 0 15px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 3px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 19px 7px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 98px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 7px;
}

.u-section-2 .u-image-2 {
  height: 313px;
  width: 333px;
  margin: 0 18px 0 15px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 3px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 19px 7px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 98px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 7px;
}

.u-section-2 .u-image-3 {
  height: 313px;
  width: 333px;
  margin: 0 18px 0 15px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 3px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  margin: 19px 7px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 98px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 7px;
}

.u-section-2 .u-image-4 {
  height: 313px;
  width: 333px;
  margin: 0 18px 0 15px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 3px 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1rem;
  margin: 19px 7px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 98px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 7px;
}

.u-section-2 .u-image-5 {
  height: 313px;
  width: 333px;
  margin: 0 18px 0 15px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 3px 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1rem;
  margin: 19px 7px 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 98px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 0px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 7px;
}

.u-section-2 .u-image-6 {
  height: 313px;
  width: 333px;
  margin: 0 18px 0 15px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 3px 0 0;
}

.u-section-2 .u-text-15 {
  font-size: 1rem;
  margin: 19px 7px 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  margin: 98px auto 0;
  padding: 6px 46px 7px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 869px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -207px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -207px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -207px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -178px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -178px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -178px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1498px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -181px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -153px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -153px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -153px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1406px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -232px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -235px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -232px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -178px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -178px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -178px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 306px;
    width: 326px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.625rem;
    margin-top: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -211px;
  }

  .u-section-2 .u-image-2 {
    height: 306px;
    width: 326px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.625rem;
    margin-top: 10px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -185px;
  }

  .u-section-2 .u-image-3 {
    height: 306px;
    width: 326px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -211px;
  }

  .u-section-2 .u-image-4 {
    height: 306px;
    width: 326px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.625rem;
    margin-top: 10px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -155px;
  }

  .u-section-2 .u-image-5 {
    height: 306px;
    width: 326px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.625rem;
    margin-top: 10px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -155px;
  }

  .u-section-2 .u-image-6 {
    height: 306px;
    width: 326px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.625rem;
    margin-top: 10px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -155px;
  }
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.05) !important;
}

.u-section-2 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.05) !important;
}

.u-section-2 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #eafdfc !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #eafdfc !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #eafdfc !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #eafdfc !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before,
.u-section-2 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover:before {
  background-color: #eafdfc !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-6,
.u-section-2 .u-list-item-6:before,
.u-section-2 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover:before {
  background-color: #eafdfc !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: linear-gradient(#f1c50e, #fef9e6);
}

.u-section-3 .u-sheet-1 {
  min-height: 690px;
}

.u-section-3 .u-text-1 {
  width: 185px;
  margin: 48px auto 0;
}

.u-section-3 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  text-shadow: 0px -2px 8px rgba(255,255,255,1);
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 1px auto 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 31px;
  margin: 24px auto 0;
  padding: 15px;
}

.u-section-3 .u-list-1 {
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 294px;
  grid-gap: 24px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.4;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  line-height: 2.2;
  letter-spacing: 1px;
  margin: 0 1px;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  line-height: 2.2;
  letter-spacing: 1px;
  margin: 0 1px;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2.2;
  letter-spacing: 1px;
  margin: 0 1px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 43px auto 60px;
  padding: 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    --animation-custom_in-opacity: 0.2;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 26px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16px));
    min-height: 242px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 556px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 13px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
  border-color: #b29a36 !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #fef9e6 !important;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
  border-color: #b29a36 !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
  border-color: #b29a36 !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #fef9e6 !important;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
  border-color: #b29a36 !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
  border-color: #b29a36 !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #fef9e6 !important;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px -2px 8px 0px rgba(255,255,255,1) !important;
  transform: scale(1.05) !important;
  border-color: #b29a36 !important;
}

.u-section-3 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}